<html>
<body>
@{var heading = "Using variables";
  string greeting = "Welcome ASP.NET MVC Application";
  int num = 103;
  DateTime today = DateTime.Today;
  <h3>@heading</h3> 
  <p>@greeting</p>
  <p>@num</p> 
  <p>@today</p>    
  }
</body>
</html> 